.clearboth {
    clear: both;
}

.nhtq-item-info {
    border: #238054 5px solid;
    font-family: "Segoe UI", Tahoma, Arial, Verdana;
    font-size: 13px;
    margin: 10px 0;
    clear: both;
}

    .nhtq-item-info .nhtq-box-title {
        background: #238054;
        padding: 5px;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 7px #333;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .nhtq-item-info .nhtq-item-detail {
        padding: 15px;
        background: #FFFDE7;
    }

    .nhtq-item-info .text-red {
        color: #c00;
        font-weight: bold;
    }

    .nhtq-item-info .text-notice {
        color: #6891A1;
    }

    .nhtq-item-info .text-item-price {
        font-weight: bold;
        font-size: 20px;
    }

    .nhtq-item-info .mgr-btm-10 {
        margin-bottom: 10px;
    }

.nhtq-item-btn-order {
    float: right;
}

    .nhtq-item-btn-order a {
        display: block;
        width: 174px;
        height: 44px;
        background: url(../images/dathang.png) top left no-repeat;
    }

        .nhtq-item-btn-order a:hover {
        }

.nhtq-item-info .nhtq-box-footer {
    color: #D44741;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.nhtq-item-info .nhtq-price-range {
    background: #FFF5EC;
    border-bottom: #ccc 1px solid;
    padding: 10px;
}

.nhtq-item-info .nhtq-price-range-left {
    float: left;
    width: 80px;
}

.nhtq-item-info .nhtq-price-range-right {
    float: left;
}

.nhtq-item-info .nhtq-price-range-item {
    float: left;
    margin-right: 10px;
    width: 120px;
}

.nhtq-item-info .lbl-quantity {
    color: #333;
}

.nhtq-item-info .nhtq-price-range-price {
    color: #D44741;
    font-weight: bold;
}

.nhtq-item-info .clrb {
    clear: both;
}

.nhtq-table-item-detail {
    border: #efefef 1px solid;
    border-radius: 5px;
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

    .nhtq-table-item-detail td {
        padding: 10px;
    }

    .nhtq-table-item-detail .nhtq-love-item {
        display: inline-block;
        color: #fff !important;
        font-size: 12px;
        border-radius: 2px;
        border: 1px solid #9c27b0;
        background-color: #9c27b0;
        padding: 2px 5px;
    }

        .nhtq-table-item-detail .nhtq-love-item.nhtq-go-to-shop {
            background-color: #0e90d2;
            border: 1px solid #0e90d2;
        }

        .nhtq-table-item-detail .nhtq-love-item.nhtq-love-shop {
            background-color: #e91e63;
            border: 1px solid #e91e63;
        }

        .nhtq-table-item-detail .nhtq-love-item:hover {
            color: #fff;
        }

    .nhtq-table-item-detail a {
        color: #0A34B6;
    }

#nhtqSideBar {
    background: #efefef;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900000020;
    font-family: "Segoe UI", Tahoma, Arial, Verdana;
    font-size: 14px;
    color: #000;
}

nhtqSidebar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    nhtqSidebar *:before,
    nhtqSidebar *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

#nhtqSideBar .nhtq-sidebar-icons {
    float: left;
    background: #000;
    width: 60px;
    padding-top: 30px;
}

#nhtqSideBar .nhtq-sidebar-content {
    float: left;
    min-width: 240px;
}

#nhtqSideBar .nhtq-sidebar-icons ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

    #nhtqSideBar .nhtq-sidebar-icons ul > li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        width: 100%;
    }

#nhtqSideBar .nhtq-sidebar-icons a.nh-icon {
    display: block;
    width: 60px;
    height: 60px;
}

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-logo {
        background: url(../images/logo-nhtq.png) 14px 10px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-user {
        background: url(../images/user.png) 19px 14px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-cart {
        background: url(../images/cart.png) 18px 18px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-help {
        background: url(../images/support.png) 19px 17px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-contact {
        background: url(../images/hotline.png) 18px 14px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-back {
        background: url(../images/back.png) 18px 18px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-search {
        background: url(../images/search.png) 18px 17px no-repeat;
    }

    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon.nh-selected,
    #nhtqSideBar .nhtq-sidebar-icons a.nh-icon:hover {
        background-color: #238054;
    }

#nhtqSideBar .nhtq-sidebar-screen {
    display: none;
}

#nhtqSideBar .nhtq-sidebar-content {
    display: none;
}

#nhtqSideBar .nhtq-sidebar-screen-content {
    background: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#nhtqSideBar .nhtq-sidebar-header {
    padding: 5px;
    text-transform: uppercase;
}

#nhtqSideBar .nhtq-sidebar-title {
    padding-top: 5px;
    float: left;
    font-size: 16px;
}

#nhtqSideBar .nh-sidebar-close {
    display: block;
    background: url(../images/sprite-images.png)-24px 1px no-repeat;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
}

    #nhtqSideBar .nh-sidebar-close:hover {
        text-decoration: underline;
    }

#nhtqSideBar .nhtq-sidebar-form {
    margin: 5px;
}

#nhtqSideBar .nhtq-row-input {
    width: 100%;
    margin-bottom: 10px;
}

#nhtqSideBar .nhtq-sidebar-screen a {
    color: #337ab7;
    text-decoration: none;
}

    #nhtqSideBar .nhtq-sidebar-screen a:hover {
        text-decoration: underline;
    }

#nhtqSideBar .nhtq-sidebar-form .nhtq-form-input {
    margin: 0;
    padding: 10px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: #ccc 2px solid;
    border-radius: 5px;
}

#nhtqSideBar .nhtq-sidebar-form .nh-btn-login {
    padding: 10px;
    background: #d44741;
    color: #fff;
    font-weight: bold;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 100%;
}

#nhtqSideBar .nhtq-sidebar-form [class^="frm-bar-btn-"] {
    background-image: url(../images/idb-button.png);
    background-repeat: no-repeat;
    display: block;
    margin-top: 10px;
}

#nhtqSideBar .nhtq-sidebar-form .frm-bar-btn-g-si {
    background-position: 0 -200px;
    height: 30px;
    width: 230px;
}

#nhtqSideBar .nhtq-sidebar-form .frm-bar-btn-fb-si {
    background-position: 0 -162px;
    height: 30px;
    width: 230px;
}

#nhtqSideBar .nhtq-user-info {
    margin: 5px;
    border: #ccc 1px solid;
}

    #nhtqSideBar .nhtq-user-info > ul {
        margin: 0px;
        padding: 0;
    }

        #nhtqSideBar .nhtq-user-info > ul > li {
            margin: 0;
            padding: 0;
            list-style: none;
            background: #fff;
            border-bottom: #ccc 1px solid;
        }

            #nhtqSideBar .nhtq-user-info > ul > li.nh-logout a,
            #nhtqSideBar .nhtq-user-info > ul > li.nh-logout a:hover {
                background: #fff;
                color: #c00;
                font-weight: bold;
            }

            #nhtqSideBar .nhtq-user-info > ul > li.nh-pp510 {
                padding: 5px 0px 5px 5px;
            }

            #nhtqSideBar .nhtq-user-info > ul > li > a {
                display: block;
                line-height: 30px;
            }

            #nhtqSideBar .nhtq-user-info > ul > li > a {
                display: inline-block;
            }

            #nhtqSideBar .nhtq-user-info > ul > li > b {
                text-transform: uppercase;
            }

#nhtqSideBar .nhtq-sidebar-screen .nhtq-select-website {
    float: left;
}

    #nhtqSideBar .nhtq-sidebar-screen .nhtq-select-website a {
        display: block;
        float: left;
        background: #fff;
        margin-right: 3px;
        padding: 5px 5px;
        border: #ccc 1px solid;
        border-radius: 5px;
    }

        #nhtqSideBar .nhtq-sidebar-screen .nhtq-select-website a.nh-selected {
            color: #e91e63;
            border-color: #e91e63;
        }

#nhtqSideBar .nh-search-item {
    padding: 8px 10px;
    background: #fff;
    border-bottom: #ccc 1px solid;
}

.nhtqAlert {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
}

.nhtqAlertContent {
    background: #ffd8d9;
    padding: 10px;
    border: #fa424a 1px solid;
    border-radius: 3px;
    color: #fff;
    position: relative;
}

    .nhtqAlertContent .nhtqAlertIcon {
        display: block;
        background: url(../images/logo-nhtq.png) top left no-repeat;
        width: 34px;
        height: 32px;
    }

.nhtqAlert.nhtqAlert-success .nhtqAlertContent {
    background: #edf9ee;
    border-color: #46c35f;
}

.nhtqAlert.nhtqAlert-info .nhtqAlertContent {
    background: #f6f8fa;
    border-color: transparent !important;
}

.nhtqAlertContent .nhtqAlertMessage {
    padding-right: 30px;
    color: #000;
}

.nhtqAlert .nhtqAlertClose {
    color: #fa424a;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 8px !important;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    font-size: 1.3rem;
    text-shadow: 0 1px 0 #fff;
    font-weight: 700;
    line-height: 1;
    float: right;
}

.nhtqAlert .nhtqAlertClose {
    text-decoration: none;
    cursor: pointer;
}

.nhtqAlert.nhtqAlert-success .nhtqAlertClose {
    color: #46c35f;
}

.nh-menu-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/sprite-images.png) 0px 0px no-repeat;
    margin: 5px 10px 0 5px;
    float: left;
}

    .nh-menu-icon.nh-icon-change-password {
        background-position: 0px -72px;
    }

    .nh-menu-icon.nh-icon-address-book {
        background-position: 0px -144px;
        height: 17px;
    }

    .nh-menu-icon.nh-icon-history {
        background-position: 0px -106px;
        height: 17px;
    }

    .nh-menu-icon.nh-icon-order-list {
        background-position: 0px -34px;
        height: 17px;
    }

    .nh-menu-icon.nh-icon-logout {
        background-position: 0px -215px;
        height: 17px;
    }

#nhtqSideBar .nhtq-sidebar-screen a#nhBtnViewItem {
    display: none;
    background: #c00;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border: #c00 1px solid;
    border-radius: 5px;
}
